*,
*::before,
*::after {
  font-family: "Open Sans", sans-serif;
}

.card{
    background:white;
    padding:1rem;
    border:1px solid #777;
    border-radius: .25rem;
}

.card-header{
    font-size:1.5rem;
    margin-bottom: .5rem;
}

.card-footer{
    margin-top:1rem;
}